* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select:none;
}

body {
  width: 100%;
  height: 100vh;
  background: url('../images/bg_cloud.svg') no-repeat center/cover;
  background-attachment: fixed;
}

#wrap {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#control {
  width: 30%;
  height: 50vh;
  min-width: 300px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
  box-shadow: 0 0 10px #ccc;
}

#fan {
  width: 150px;
  height: 150px;
  margin-bottom: 5%;
  border-radius: 50%;
  border: 1px solid #000;
}

.btn {
  font-size: 50px;
}

.btn > * {
  cursor: pointer;
}

.toggle {
  color: grey;
}

.active {
  color: #999;
  transition: all .5s;
  transform: scale(0.9);
}